{
    "configurations": [
        {
            "hdfs-site": {
                "properties": {
                    "dfs.replication": "1"
                }
            }
        },
        {
            "core-site": {
                "properties": {
                    "hadoop.proxyuser.root.groups": "*",
                    "hadoop.proxyuser.root.hosts": "*",
                    "hadoop.proxyuser.hcat.groups": "*",
                    "hadoop.proxyuser.hcat.hosts": "*"
                }
            }
        },
        {
            "webhcat-site": {
                "properties": {
                    "webhcat.proxyuser.root.groups": "*",
                    "webhcat.proxyuser.root.hosts": "*"
                }
            }
        },
        {
            "mapred-site": {
                "properties": {
                    "mapreduce.map.java.opts": "-Xmx{{memory.mrMapOpts}}m",
                    "mapreduce.map.memory.mb": "{{memory.mrMapMemory}}",
                    "mapreduce.reduce.java.opts": "-Xmx{{memory.mrReduceOpts}}m",
                    "mapreduce.reduce.memory.mb": "{{memory.mrReduceMemory}}",
                    "yarn.app.mapreduce.am.command-opts": "-Xmx{{memory.yarnMrCommandOpts}}m -Dhdp.version=${hdp.version}",
                    "yarn.app.mapreduce.am.resource.mb": "{{memory.yarnMrMemory}}"
                }
            }
        },
        {
            "yarn-site": {
                "properties": {
                    "yarn.nodemanager.resource.memory-mb": "{{memory.yarnNodeManagerResoureMemory}}",
                    "yarn.scheduler.maximum-allocation-mb": "{{memory.yarnMaxAllocation}}",
                    "yarn.scheduler.minimum-allocation-mb": "{{memory.yarnMinAllocation}}"
                }
            }
        }
{{#arguments.kerberosEnabled}}
        ,{
            "kerberos-env": {
                "properties" : {
                    "realm" : "{{realmUpper}}",
                    "kdc_type" : "mit-kdc",
                    "kdc_hosts" : "{{arguments.fqdn}}",
                    "ldap_url" : "",
                    "container_dn" : "",
                    "encryption_types" : "aes des3-cbc-sha1 rc4 des-cbc-md5",
                    "admin_server_host" : "{{arguments.fqdn}}"
                }
            }
        },
        {
            "krb5-conf": {
                "properties" : {
                    "domains" : "{{realmLower}}, .{{realmLower}}",
                    "manage_krb5_conf" : "true"
                }
            }
        }
{{/arguments.kerberosEnabled}}
    ],
    "host_groups": [
        {
            "name": "host_group_1",
            "configurations": [],
            "cardinality": "1",
            "components": [
                {"name": "AMBARI_SERVER"},
                {"name": "APP_TIMELINE_SERVER"},
                {"name": "DATANODE"},
                {"name": "HCAT"},
                {"name": "HDFS_CLIENT"},
                {"name": "HISTORYSERVER"},
{{#arguments.containsSparkComponent}}
                {"name": "SPARK_JOBHISTORYSERVER"},
                {"name": "SPARK_CLIENT"},
{{/arguments.containsSparkComponent}}
{{#arguments.containsHiveComponent}}
                {"name": "HIVE_CLIENT"},
                {"name": "HIVE_METASTORE"},
                {"name": "HIVE_SERVER"},
{{/arguments.containsHiveComponent}}
{{#arguments.kerberosEnabled}}
                {"name": "KERBEROS_CLIENT"},
{{/arguments.kerberosEnabled}}
                {"name": "MAPREDUCE2_CLIENT"},
                {"name": "METRICS_COLLECTOR"},
                {"name": "METRICS_MONITOR"},
                {"name": "MYSQL_SERVER"},
                {"name": "NAMENODE"},
                {"name": "NODEMANAGER"},
                {"name": "PIG"},
                {"name": "RESOURCEMANAGER"},
                {"name": "SECONDARY_NAMENODE"},
                {"name": "TEZ_CLIENT"},
                {"name": "WEBHCAT_SERVER"},
                {"name": "YARN_CLIENT"},
                {"name": "ZOOKEEPER_CLIENT"},
                {"name": "ZOOKEEPER_SERVER"}
            ]
        }
    ],
    "Blueprints": {
        "blueprint_name": "{{arguments.blueprintName}}",
        "stack_name": "HDP",
        "stack_version": "{{arguments.stackVersion}}"
{{#arguments.kerberosEnabled}}
        , "security" : {
            "type" : "KERBEROS"
        }
{{/arguments.kerberosEnabled}}
    }
}
