{
    "configurations": [
        {
            "hdfs-site": {
                "properties": {
                    "dfs.replication": "1"
                }
            }
        },
        {
            "hadoop-env": {
                "properties": {
                    "namenode_heapsize": "2048m"
                }
            }
        }
{{#arguments.kerberosEnabled}}
        ,{
            "kerberos-env": {
                "properties" : {
                    "realm" : "{{realmUpper}}",
                    "kdc_type" : "mit-kdc",
                    "kdc_hosts" : "{{arguments.fqdn}}",
                    "ldap_url" : "",
                    "container_dn" : "",
                    "encryption_types" : "aes des3-cbc-sha1 rc4 des-cbc-md5",
                    "admin_server_host" : "{{arguments.fqdn}}"
                }
            }
        },
        {
            "krb5-conf": {
                "properties" : {
                    "domains" : "{{realmLower}}, .{{realmLower}}",
                    "manage_krb5_conf" : "true"
                }
            }
        }
{{/arguments.kerberosEnabled}}
    ],
    "host_groups": [
        {
            "name": "host_group_1",
            "configurations": [],
            "cardinality": "1",
            "components": [
                {"name": "AMBARI_SERVER"},
                {"name": "APP_TIMELINE_SERVER"},
                {"name": "DATANODE"},
                {"name": "HCAT"},
                {"name": "HDFS_CLIENT"},
                {"name": "HISTORYSERVER"},
{{#arguments.containsHiveComponent}}
                {"name": "HIVE_CLIENT"},
                {"name": "HIVE_METASTORE"},
                {"name": "HIVE_SERVER"},
{{/arguments.containsHiveComponent}}
                {"name": "INFRA_SOLR_CLIENT"},
                {"name": "INFRA_SOLR"},
                {"name": "LIVY_SERVER"},
{{#arguments.kerberosEnabled}}
                {"name": "KERBEROS_CLIENT"},
{{/arguments.kerberosEnabled}}
                {"name": "MAPREDUCE2_CLIENT"},
                {"name": "METRICS_COLLECTOR"},
                {"name": "METRICS_GRAFANA"},
                {"name": "METRICS_MONITOR"},
                {"name": "MYSQL_SERVER"},
                {"name": "NAMENODE"},
                {"name": "NODEMANAGER"},
                {"name": "PIG"},
                {"name": "RESOURCEMANAGER"},
                {"name": "SECONDARY_NAMENODE"},
                {"name": "SLIDER"},
{{#arguments.containsSparkComponent}}
                {"name": "SPARK_CLIENT"},
                {"name": "SPARK_JOBHISTORYSERVER"},
                {"name": "SPARK_THRIFTSERVER"},
{{/arguments.containsSparkComponent}}
                {"name": "TEZ_CLIENT"},
                {"name": "WEBHCAT_SERVER"},
                {"name": "YARN_CLIENT"},
                {"name": "ZOOKEEPER_CLIENT"},
                {"name": "ZOOKEEPER_SERVER"}
            ]
        }
    ],
    "Blueprints": {
        "blueprint_name": "{{arguments.blueprintName}}",
        "stack_name": "HDP",
        "stack_version": "{{arguments.stackVersion}}"
{{#arguments.kerberosEnabled}}
        , "security" : {
            "type" : "KERBEROS"
        }
{{/arguments.kerberosEnabled}}
    }
}
