#macro( log $message )
echo " "
echo "---------------------------------------------------------------------------------------------------------------"
echo "----- $message"
echo "---------------------------------------------------------------------------------------------------------------"
echo " "

#end

#set( $mysqlVersion = "mysql-connector-java-5.1.38" )
#set( $requestedBy = "X-Requested-By: ambari" )
