#macro( log $message )
echo " "
echo "---------------------------------------------------------------------------------------------------------------"
echo "----- $message"
echo "---------------------------------------------------------------------------------------------------------------"
echo " "

#end

#set( $requestedBy = "X-Requested-By: ambari" )
#set( $rootPassword = "root" )