{
    "configurations": [
        {
            "hdfs-site": {
                "properties": {
                    "dfs.replication": "1"
                }
            }
        },
        {
            "core-site": {
                "properties": {
                    "hadoop.proxyuser.root.groups": "*",
                    "hadoop.proxyuser.root.hosts": "*"
                }
            }
        },
#if( $arguments.containsHiveComponent() )
        {
            "hive-site": {
                "properties": {
                    "javax.jdo.option.ConnectionUserName": "hive",
                    "javax.jdo.option.ConnectionPassword": "hive"
                }
            }
        },
#end
        {
            "mapred-site": {
                "properties": {
                    "mapreduce.map.java.opts": "-Xmx${memory.mrMapOpts}m",
                    "mapreduce.map.memory.mb": "$memory.mrMapMemory",
                    "mapreduce.reduce.java.opts": "-Xmx${memory.mrReduceOpts}m",
                    "mapreduce.reduce.memory.mb": "$memory.mrReduceMemory",
                    "yarn.app.mapreduce.am.command-opts": "-Xmx${memory.yarnMrCommandOpts}m -Dhdp.version=${hdp.version}",
                    "yarn.app.mapreduce.am.resource.mb": "$memory.yarnMrMemory"
                }
            }
        },
        {
            "yarn-site": {
                "properties": {
                    "yarn.nodemanager.resource.memory-mb": "$memory.nodeManagerResoureMemory",
                    "yarn.scheduler.maximum-allocation-mb": "$memory.yarnMaxAllocation",
                    "yarn.scheduler.minimum-allocation-mb": "$memory.yarnMinAllocation"
                }
            }
        }
    ],
    "host_groups": [
        {
            "name": "host_group_1",
            "configurations": [],
            "components": [
                {"name": "AMBARI_SERVER"},
                {"name": "APP_TIMELINE_SERVER"},
                {"name": "DATANODE"},
                {"name": "HCAT"},
                {"name": "HDFS_CLIENT"},
                {"name": "HISTORYSERVER"},
#if( $arguments.containsHiveComponent() )
                {"name": "HIVE_CLIENT"},
                {"name": "HIVE_METASTORE"},
                {"name": "HIVE_SERVER"},
#end
#if( $arguments.containsKnoxComponent() )
                {"name": "KNOX_GATEWAY"},
#end
                {"name": "MAPREDUCE2_CLIENT"},
                {"name": "METRICS_COLLECTOR"},
                {"name": "METRICS_MONITOR"},
                {"name": "MYSQL_SERVER"},
                {"name": "NAMENODE"},
                {"name": "NODEMANAGER"},
                {"name": "PIG"},
                {"name": "RESOURCEMANAGER"},
                {"name": "SECONDARY_NAMENODE"},
                {"name": "TEZ_CLIENT"},
                {"name": "WEBHCAT_SERVER"},
                {"name": "YARN_CLIENT"},
                {"name": "ZOOKEEPER_CLIENT"},
                {"name": "ZOOKEEPER_SERVER"}
            ],
            "cardinality": "1"
        }
    ],
    "Blueprints": {
        "blueprint_name": "$arguments.blueprintName",
        "stack_name": "HDP",
        "stack_version": "2.2"
    }
}
