{"ViewInstanceInfo":{"instance_name":"HIve","label":"Hive","visible":true,"icon_path":"","icon64_path":"","properties":{"webhdfs.url":"webhdfs://${arguments.hostname}:50070","webhdfs.username":null,"webhdfs.auth":"auth=SIMPLE","dataworker.username":null,"scripts.dir":"/user/${username}/hive/scripts","jobs.dir":"/user/${username}/hive/jobs","hive.host":"${arguments.hostname}","hive.port":"10000","hive.auth":"auth=NONE","yarn.ats.url":"http://${arguments.hostname}:8188"},"description":"Hive"}}