{"ViewInstanceInfo":{"instance_name":"FILES_VIEW_INSTANCE","label":"Files View","visible":true,"icon_path":"","icon64_path":"","properties":{"webhdfs.url":"webhdfs://${arguments.hostname}:50070","webhdfs.username":null,"webhdfs.auth":"auth=SIMPLE"},"description":"Files View installed by https://github.com/timveil/hdp-vagrant-generator"}}