{"ViewInstanceInfo":{"instance_name":"Tez","label":"Tez","visible":true,"icon_path":"","icon64_path":"","properties":{"yarn.timeline-server.url":"http://${arguments.hostname}:8188","yarn.resourcemanager.url":"http://${arguments.hostname}:8088"},"description":"Tez"}}