{
    "Repositories": {
        "base_url": "$arguments.baseHdpUrl",
        "default_base_url": "$arguments.baseHdpUrl",
        "latest_base_url": "$arguments.baseHdpUrl",
        "verify_base_url": true
    }
}
