{"ViewInstanceInfo":{"instance_name":"Files","label":"Files","visible":true,"icon_path":"","icon64_path":"","properties":{"webhdfs.url":"webhdfs://${arguments.hostname}:50070","webhdfs.username":null,"webhdfs.auth":"auth=SIMPLE"},"description":"Files"}}