{
    "Repositories": {
        "base_url": "http://repo.hdp.local/hdp/centos6/HDP-UTILS-1.1.0.20",
        "default_base_url": "http://repo.hdp.local/hdp/centos6/HDP-UTILS-1.1.0.20",
        "latest_base_url": "http://repo.hdp.local/hdp/centos6/HDP-UTILS-1.1.0.20",
        "verify_base_url": true
    }
}
